.navbar {
    display: flex;
    justify-content: center;
    background-color: #F4F1EA;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    width: 1220px;
}

.navbar_logo img {
    width: 140px;
    height: 50px;
    object-fit: cover;
}

.navbar_user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navbar_list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 400px;
    margin-right: 210px;
}

.navbar_list li {
    display: flex;
    align-items: center;
    color: #382110;
    width: 100%;
    height: 100%;
    justify-content: center;
    
}

.navbar_list a {
    text-decoration: none;
    width: 25%;
}

.navbar_list li:hover {
    background-color: #382110;
    color: #F4F1EA;
    cursor: pointer;
}

.navbar_search {
    display: flex;
    align-items: center;
}

.navbar_search input {
    width: 400px;
    height: 32px;
}

.navbar_user {
    display: flex;
    align-items: center;
}